node_modules
dist
dist-ssr
*.local
.dev.env.json
.dev.pid
.env
.env.*
!.env.example
*.iml
.gradle
.kotlin
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
debug.keystore

